html{
  overflow-x: hidden;
}
.movingstuff{
  font-size: 4vw;
  text-align: center;
  transform: translateY(20%);
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  border-radius: 10px;
  border: 2px solid white;
  margin-right: 12vw;
  margin-left: 12vw;
  margin-bottom: 20px;
}

.accText{
  -webkit-transition: opacity 0.5s ease-in-out;
  opacity: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 2vw;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  display: block;
  overflow: hidden;
  position: absolute;
}
.accText:hover{
  display: block;
  opacity: 1;
  overflow: hidden;
  text-align: center;
}
.accordion{
  -webkit-transition:height, width 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  width: 55vw;
  height: 100px;
  background-color: rgba(0, 0, 0, .5);
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 15px;
  display: inline-block;
  background: url("25231.svg") rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: center;
}

.accordion:hover{
  width: 800px;
  height: 150px;
  display: text;
}
.expanding{
  -webkit-transition: height, width 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  width: 55vw;
  height: 100px;
  background-color: rgba(0, 0, 0, .5);
  position: relative;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  border: 2px solid white;
  margin-bottom: 15px;
  display: inline-block;
  background: url("25231.svg") rgba(0,0,0,.5);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: center;
}

.expanding:hover{
  width: 800px;
  height: 200px;
  display: text;
}


.box{
  display: inline-block grid;
  grid-column-gap: 0.6em;
  height: 100%;
}

.strum{
  height: 30vw;
  width: 40vw;
  border-radius: 10px;
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.terminationBut{
  font-size: 2.2vw;
  display: inline-block;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
  margin-bottom: 10px;
}

.videoWord{
  font-size: 1.9vw;
  display: inline-block;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
}
.videoVid{
  font-size: 2.75vw;
  display: inline-block;
  color: white;
  font-family: 'Quattrocento Sans', sans-serif;
}

.gantrypicture{
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  margin-right: 10%;
}

.terminateButton{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 0.6em;
  margin-right: 32px;
  margin-left: 25px;
  position: relative;
}

.termin{
  height: 60vw;
  width: 40vw;
  border-radius: 10px;
  border: 2px solid white;
  margin-right: 10%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.terminateButton > div{
  background-color: rgba(0, 0, 0, .5);
  padding: 1em;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 2px solid black;
}
.gantPic{
  margin-top: 10px;
  display:grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 0.6em;
  margin-right: 32px;
  margin-left: 25px;
}

.gantPic > div{
  background-color: rgba(0, 0, 0, .5);
  padding: 1em;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 2px solid black;
}
.wrapper{
  display:grid;
  grid-template-columns: 70% 30%;
  grid-column-gap: 0.6em;
  margin-right: 32px;
  margin-left: 25px;
}
.wrapper > div{
  background-color: rgba(0, 0, 0, .5);
  padding: 1em;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  border: 2px solid black;
}

.demoVideo{
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  margin-right: 10%;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.spacing{
  margin-top: 30px;
}

.RobotCMajor{
  margin-top: 60px;
  margin-left: 50%;
  background: rgba(1, 1, 1, 0.5);
  transform: translateX(-50%);
}
.border{
  border: solid 1.5px white;
  border-radius: 5px;
  padding: 10px 15px;
  color: white !important;
}

.titleBorder{
  font-size: 6vw;
  border: solid 1.5px black;
  border-radius: 5px;
  padding: 10px;
  color: black !important;
  display: inline-block;
  margin-left: 50%;
  transform: translateX(-50%);

}

.project-container {
    margin-left: 50%;
    transform: translateX(-50%);
}

.jumbotron {
    height: 100%;
    min-height: 720px;
    color: white;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0 !important;
    background-color: rgba(100, 100, 100, .5);
    background-image: url(projback.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

  /* text-shadow: black 0.3em 0.3em 0.3em; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
  background: url(../background.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
.vertical-center {
  min-height: 100vh;
  display: flex;
  align-items: center;
}


.titlePad {
  padding-top: 10px;
  padding-bottom: 15px;
}

section {
  position: absolute;
  width: 100%;
  height: 100%;
}

#section05 a span {
  position: absolute;
  top: 500px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -24px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg) translateX(-50%);
  transform: rotate(-45deg) translateX(-50%);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
